body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(32, 36, 54);
  color: rgb(146, 177, 228);
}

.fetch-smurfs{
  margin: 0px auto 30px auto;
  background: rgb(35, 112, 28);
  border: none;
  color: white;
  width: 200px;
  height: 45px;
  font-size: large;
  box-shadow: 2px 2px 10px rgb(45, 155, 35); 
}

.fetch-smurfs:hover {
  background: rgb(52, 180, 40); 
}

.input{
  margin: 10px; 
  border: none;
  border-right: white solid 2px;
  border-bottom: white solid 1px;
  font-size: larger;
  background: rgb(32, 36, 54);
  color: white;
  border-radius: 5px;
}

.add-smurf{
  margin: 0px auto 30px auto;
  background: rgb(112, 52, 28);
  border: none;
  color: white;
  width: 100px;
  height: 45px;
  font-size: large;
  box-shadow: 2px 2px 10px rgb(155, 83, 35); 
}

.add-smurf:hover{
  background: rgb(165, 76, 41);
}

.error{
  color: red;
}

.smurf-container{
  border-right: white solid 1px;
  border-bottom: white solid 1px;
  width: 200px;
  margin: 5px;
  border-radius: 5px;
}

.smurf-data{
  display: flex;
}